body {
    background-color: rgb(92, 90, 87);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #9bd09d;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c5a5a5;
    border-radius: 4px;
    color: rgb(58, 84, 73);
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #9bd09d;
    color: #b48686;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #426343;
  }
  
  .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
  }
  
  
  li input[type="checkbox"] {
    margin-right: 10px;
  }